.login_page{
    width: 100vw;
    min-height: 100vh;
    max-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signInForm{
    /* margin: auto; */
    width: 50vw;
    height: 100vh;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.SignIn{
     margin: auto;
}

.login_page .image{
    background-image: url('../assets/login_cover.jpg');
    background-size: cover;
    /* background-color: black; */
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.login_page .image>a{
    text-decoration: none;
    color: var(--brown);
    padding: 5px 10px;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 50px;
    transition: all ease-in-out .3s;
}
.login_page .image>a:hover{
    background-color: var(--brown);
    color: white;
}