nav{
    position: sticky;
    top: 10px;
    margin: auto;
    padding: 0 2px;
    width: 95%;
    height: 50px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.nav>h1{
    color: rgb(131, 73, 35);
    display: none;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links li{
    list-style: none;
    margin-right: 35px;
    font-size: 1.25rem;
}
.links a{
    text-decoration: none;
    color: black;
}