.prodcard{
    max-height: 500px;
    background-color: rgb(243, 221, 182);
    max-width: 20%;
    margin: 5px;
    padding: 0;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.productText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}
.productText>h2{
    font-size: 1.25rem;
}
.img-section{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
hr{
    color: black;
    background-color: var(--brown);
    width: 100%;
    height: 1px;
    border: none;
}
.prodcard img{
    position: relative;
    width: 100%;
    bottom: 15px;
}
.productText .desc{
    font-size: .9rem;
}
.price{
    color: green;
    font-weight: bold;
}
.add{
    background-color: var(--brown);
    border: none;
    color: white;
    padding: 10px 5px;
    cursor: pointer;
    transition: all ease-in .25s;
    margin: 0 5px 5px 5px;
}
.add:hover{
    color: var(--brown);
    background-color: white;
}


/*-------------------- While Loading -------------------------*/

.prodLoading{
    max-height: 500px;
    background-color: rgb(243, 221, 182);
    max-width: 20%;
    margin: 5px;
    padding: 0;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.productText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}
.productText>h2{
    font-size: 1.25rem;
}
.img-section{
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color: grey;
    animation: loading 3s linear infinite forwards;
    transition: all .3s ease-in-out;
}
hr{
    color: black;
    background-color: var(--brown);
    width: 100%;
    height: 1px;
    border: none;
}
.prodLoading img{
    position: relative;
    width: 100%;
    bottom: 15px;
    opacity: 0;
}
.prodLoading .productText .desc{
    /* background-color: grey;
    color: grey; */
    font-size: .9rem;
    /* animation: loading 3s linear infinite forwards;
    animation: loadingText 3s linear infinite forwards; */
}
.price{
    color: green;
    font-weight: bold;
}
.prodLoading .add{
    background-color: var(--brown);
    border: none;
    color: white;
    padding: 10px 5px;
    cursor: not-allowed;
    transition: all ease-in .25s;
    margin: 0 5px 5px 5px;
}
.add:hover{
    color: var(--brown);
    background-color: white;
}

@keyframes loading {
    0%{
        background-color: grey;
    }
    25%{
        background-color: rgb(197, 197, 197);
    }
    50%{
        background-color: rgb(197, 197, 197);
    }
    100%{
        background-color: grey;
    }
}

@keyframes loadingText {
    0%{
        color: grey;
    }
    25%{
        color: rgb(197, 197, 197);
    }
    50%{
        color: rgb(197, 197, 197);
    }
    100%{
        color: grey;
    }
}
