.card>.text>h2{
    font-size: 2rem;
    color: black;
}

.card>.text>h2{
    margin-bottom: 10px;
}
.card>.text>p{
    font-family: sans-serif;
    font-size: 1.05rem;
    margin-bottom: 5px;
    line-height: 1.5;
    font-weight: lighter;
    color: rgb(36, 36, 36);
}
.card .text{
    text-align: left;
}
.card{
    padding: 5px 5px;
    margin-right: 10px;
    margin-bottom: 30px;
    min-height: 100px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, .4);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.card .icon{
    height: 100px;
}
.card .chef{
    border-radius: 50%;
} 